In [28]:
#Assignment Operator
#Addition operator
a=44
b=22
a+=b

x=33
y=-10
x +=y

i=0.65
j=0.35
i +=j

print(i)
print(x)
print(a)

#subtraction Assignment
i=33
j=22
i -=j
print(i)

k=2
j=0.80
k -=j
print(k)

x=98.20
y=-1.80
x -=y
print(x)

#Multiplication Assignment
a=4+6
b=4
a*=b
print(a)

x=-3
y=+2
x*=y
print(x)

i=16-8
j=8
i*=j
print(i)

#Division Assignment
i=16
j=8
i/=j
print(i)

x=6+6
y=2*3
x/=y
print(x)

a=16-4
b=2
a/=b
print(a)

#Modulus
i=22
j=4
i%=j
print(i)

x=2+2
y=2*1
x%=y
print(x)

a=8-4
b=2
a%=b
print(a)

#floor Assignment

i=16
j=8
i//=j
print(i)

x=6+6
y=2*3
x//=y
print(x)

a=16-4
b=2
a//=b
print(a)

#exponential
a=4
b=2
a**=b
print(a)

x=6
y=2*2
x**=y
print(x)

i=16-4
j=2
i**=j
print(i)

1.0
23
66
11
1.2
100.0
40
-6
64
2.0
2.0
6.0
2
0
0
2
2
6
16
1296
144

In [38]:
#comparison operators
#real equal(exact)
i=22
j=33
k=i==j
print(k)

a=12
b=12
c=a==b
print(c)

x=6*2
y=2*6
z=x==y
print(z)

#Not equal "!="

a=16
b=8
a !=b

x=8
y=4
x !=y

False
True
True

True

In [41]:
#greater than >
a=6
b=4
c=a>b
print(c)

x=22
y=33
x>y

#greater than or equal(>=)

i=22
j=6
i>=j

True

True

In [96]:
#Logical OPerator
#by using and
a=3<5
b=5>3
print(a and b)

a=44>22
b=22<44
print(a and b)

a=8.66>=10
b=2>1
print(a and b)


x=0.264<2
y=2<0.264
print(x and y)

a=22>=10
b=10<0.99
print(a and b)

#by using or
a=2.2>3
b=4>2
print(a or b)


x=4*4>2
y=2<4*4
print(x or y)

a=10+2>10
b=10<2
print(a or b)

a=10
b=22
print(a>12 or b>10)

#by using NOT
x=22
y=23
print(x>y)
print(not x<y)


print(x>10 and y>x)
print(not x>10 and y>x)

a=2*8>3
b=2*8<3
print(a>b)
print(a<b)


a=x+y
b=x-y
print(a)
print(b)
print(a>b)
print(not a>b)

x=2*4
y=6
print(x>y)
print(not x>y)

True
True
False
False
False
True
True
True
True
False
False
True
False
True
False
45
-1
True
False
True
False

In [92]:
#identity operators

x=5
y=21
print(x is y)


x='hello'
y='hello world'
print(x is y)
print(x is not y)

a='prasad'
b='chowdary'
a1=33
b1=33
print(a1 is b1)
print(a is not b)

x=2
y=4
x1=2
y1=4
print(x is x1)
print(x is not y1)
print(y is y1)
print(y is not x1)

a=4*4
b=12+4
print(a)
print(b)
print( a is b)
print( a is not b)

False
False
True
True
True
True
True
True
True
16
16
True
False

In [103]:
# Membership

a='prasad'
b='chowdary'
print('a'in a)
print('a' in b)


x='HELLO WORLD'
Y=[1,2,3,4,5,6,7]
print('h' in x)

a=1,2,3,4,5,6,7
b=1,2,3,4,5,6,7
print(1 in a)
print(1 in b)

x='TEK ACADEMY'
y=1,2,3,4,5,6
print('t' not in x)
print('TEK'in x)
print(1 in y)
print(5 in y)

True
True
False
True
True
True
True
True
True

In [108]:
#Bitwise
x=13
y=16
print(x|y)
print(x&y)
print(x<<y)
print(x>>y)
print(x^y)

29
0
851968
0
29

In [109]:
#parenthesis
7+35-10(12+7+6*3)-5

<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\Sri\AppData\Local\Temp\ipykernel_17472\1882759290.py:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  7+35-10(12+7+6*3)-5

TypeError: 'int' object is not callable

In [131]:
#parenthesis
a=7+35-10+(12+7+6*3)-5
b=3+5-2*6+(6*2)+8*5
print(a)
print(b)
c=a+b
print(c)

x=(3*3*4)+2-16+33
y=2+2*8+12+(8*8)+12
print(x)
print(y)
a=x+y
print(a)

64
48
112
55
106
161

In [124]:

(3*3*4)+2-16+33

55

In [129]:
x=(3*3*4)+2-16+33
y=2+2*8+12+(8*8)+12
a=x+y
print(a)

<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\Sri\AppData\Local\Temp\ipykernel_17472\1531573518.py:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  y=2+2*8+12(8*8)+12

TypeError: 'int' object is not callable