In [8]:
#len()
name='prasad'
variable='     '
bike='Royal enfield'
institute='Teks Academy'
manifacture='industrial Engineering Corporation'

print(len(name))
print(len(variable))
print(len(bike))
print(len(institute))
print(len(manifacture))

6
5
13
12
34

In [9]:
# upper case
name='prasad'
variable='hello  world   '
bike='royal enfield'
institute='teks academy'
manifacture='industrial Engineering Corporation'
print(name.upper())
print(variable.upper())
print(bike.upper())
print(institute.upper())
print(manifacture.upper())

print('--------------------------------------------')
#lower case
name='PRASAD'
variable='HELLO  WORLD'   
bike='ROYAL ENFIELD'
institute='TEKS ACADEMY'
manifacture='INDUSTRIAL ENGINEERING CORPORATION'
print(name.lower())
print(variable.lower())
print(bike.lower())
print(institute.lower())
print(manifacture.lower())

PRASAD
HELLO  WORLD
ROYAL ENFIELD
TEKS ACADEMY
INDUSTRIAL ENGINEERING CORPORATION
--------------------------------------------
prasad
hello  world
royal enfield
teks academy
industrial engineering corporation

In [10]:
#strip
name='   PRASAD   '
variable='   HELLO  WORLD  '   
bike='ROYAL ENFIELD      '
institute='     TEKS ACADEMY     '
manifacture='    INDUSTRIAL ENGINEERING CORPORATION   '
name.strip()
variable.strip()
bike.strip()
institute.strip()
manifacture.strip()
print(name.strip())
print(variable.strip())
print(bike.strip())
print(institute.strip())
print(manifacture.strip())

PRASAD
HELLO  WORLD
ROYAL ENFIELD
TEKS ACADEMY
INDUSTRIAL ENGINEERING CORPORATION

In [11]:
#replace
my_string='hello,world'
print(my_string.replace('world','python'))
info='This is Prasad Chowdary'
print(info.replace('This is','i am'))
person='i am from Hyderbad'
print(person.replace('Hyderbad','kakinada'))

hello,python
i am Prasad Chowdary
i am from kakinada

In [12]:
#split
manifacture='industrial Engineering Corporation'
variable='hello  world   python'
bike='royal enfield'
manifacture=manifacture.split()
print(manifacture)
variable=variable.split()
print(variable)
bike=bike.split()
print(bike)

['industrial', 'Engineering', 'Corporation']
['hello', 'world', 'python']
['royal', 'enfield']

In [13]:
#join
manifacture='industrial', 'Engineering', 'Corporation'
variable='hello', 'world', 'python'
bike='royal', 'enfield'
manifacture=" ".join(manifacture)
variable=" ".join(variable)
bike=" ".join(bike)
print(manifacture)
print(variable)
print(bike)

industrial Engineering Corporation
hello world python
royal enfield

In [ ]:
#Tuples
#tuples

In [31]:
#mixed Tuples
Mixed_Tuples=(1,2,3,4,0.1,0.2,0.3,0.4,'a','b','c','d','apple','Ball','bat')
Mixed_Tuples

(1, 2, 3, 4, 0.1, 0.2, 0.3, 0.4, 'a', 'b', 'c', 'd', 'apple', 'Ball', 'bat')

In [41]:
#accesing of tuples
#indexing & slicing
names=('prasad','veeri','sampath','prasad','laxmi')
numbers=(1,2,3,4,5,6,7,0.1,0.2,0.3,0.4)
print(names[1])
print(names[0:1])
print(numbers[-1])
print(numbers[:-1])

veeri
('prasad',)
0.4
(1, 2, 3, 4, 5, 6, 7, 0.1, 0.2, 0.3)

In [46]:
#immutability
names=('prasad','veeri','hari','laxmi','sampath')
names[1]='venky'

TypeError: 'tuple' object does not support item assignment

In [44]:
#Tuple operations
#concatination

Tuple1=(1,2,3,4)
Tuple2=('a','b','c','d')
result=(Tuple1+Tuple2)
print(result)
Mixed_Tuples=(1,2,3,4,0.1,0.2,0.3,0.4,'a','b','c','d','apple','Ball','bat')
tuple1=('a',1,2,3,0.1,0.2,0.3)
c=(Mixed_Tuples+tuple1)
print(c)


print('--------')

#repetation
a=Tuple1*3
b=Tuple2*4
print(a)
print(b)

(1, 2, 3, 4, 'a', 'b', 'c', 'd')
(1, 2, 3, 4, 0.1, 0.2, 0.3, 0.4, 'a', 'b', 'c', 'd', 'apple', 'Ball', 'bat', 'a', 1, 2, 3, 0.1, 0.2, 0.3)
--------
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

In [23]:
#Tuple methods
#count
numbers=(1,2,3,4,5,3,5,6,7,3)
count=numbers.count(3)
print(count)

names=('prasad','veeri','sampath','prasad','laxmi')
count=names.count('prasad')
print(count)

print('-----------------')
#index
numbers=(1,2,3,4,5,3,5,6,7,3)
print(numbers[3])
names=('prasad','veeri','sampath','prasad','laxmi')
print(names[3])

3
2
-----------------
4
prasad

In [ ]:
my_string='hari',veeri
print(my_string.replace('prasad','python'))